//
   Created by Dok on 11/13/2014.

extends layout

block content
   h1= title
   .dropdown
      button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true") Media Type
         span.caret
      ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
         li Audio
         li Video
